{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <title> {{title}} </title>
        <meta name="description" content="{{title}}">

        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />

        <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body style="--bg-image:url(&quot;&quot;);">
    <!-- <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="position: fixed; width: 100%; background-color: grey;"> -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="width: 100%;">
        <div class="container-fluid">
            <a href="/"><img src="{% static 'img/SAST.png' %}" width="60" height="60"></a>
            <!-- TODO: POST表单内容-->
            {%if login.success == '1'%}
            <div class="search-box"><form action="/search" method="GET"><input id="input" type="text" placeholder=" " name="q" value=""></form><span></span></div>
            {%endif%}
            <span class="navbar-text center" style="flex: 14; text-align:center;"></span>
            <span class="navbar-text themes">
                Themes<br /><span class="option">
                <span onclick="set_background_image('Yoru');" style="color: rgb(5,7,22);">■</span>
                <span onclick="set_background_image('Umi');" style="color: rgb(214,230,238);">■</span>
                <span onclick="set_background_image('Mori');" style="color: rgb(190,206,107);">■</span><br /></span>
            </span>

            <span class="navbar-text actions">
                {%if login.success == '1'%}
                <a class="login" href="/logout">Log Out</a>
                <a href="#"><img class="user-avatar" src="{{login.avatar}}"></a>
                {%else%}
                <a class="login" href="/login">Log In</a>
                <a class="btn btn-light action-button" role="button" href="/signup">Sign Up</a>
                {%endif%}
            </span>
        </div>
    </nav>

    {% block main_block %}
    {% endblock main_block %}


    <footer id="footer">
    <div style= "text-align: center; margin: 0px; padding:10px">
        <p style= "color:grey; font-family: raleway">&copy;2021&nbsp;<a target="_blank" href="https://github.com/c7w/SastSearch" rel="noopener noreferrer">c7w</a>, 
        based on 2020&nbsp;<a target="_blank" href="https://github.com/prnake/search_engine_demo" rel="noopener noreferrer">Papersnake</a><span class="my-face">&nbsp;(=^･ｪ･^=)ﾉ<span style='color:lightpink'>♥</span></span></p>
    </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/style.js' %}"></script>
    </body>
</html>